/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .website_li{
     border: 1px solid gray;
     padding: 20px 20px;
     border-radius: 3px;
     margin-bottom: 10px;
     list-style-type: none;
 }
 .btn{
     color: #fff;
     background: gray;
     padding: 5px;
     text-decoration: none;
     border-radius: 3px;
 }
 .vote{
     padding: 0 30px 0 0;
     font-size: 20px;
     text-decoration: none !important;
     color: black;
 }
.vote:hover{
    color: red;
}
.col-2 p{
    padding-top: 10px;
    margin-bottom: 0;
}
.col-3 div{
    padding-top: 5px;
}